<%= typeof msg != 'undefined' ? msg : '' %>
    <form action=m ethod="" enctype="multipart/form-data">
        <input name="myImage" type="file">
        <button type="text">Submit</button>
    </form>