<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Eventure</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0uOxbX1o2QF1qaC0Ks7KJp3_EklwCnFU&libraries=places&callback=initAutocomplete"
        async defer></script>

</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header-wrapper">
            <h2>
                Your Events
            </h2>
            <nav>
                <ul>
                    <li>
                        <a href="/events" class="singleEvent">Upcoming Events</a>
                    </li>
                    <li>
                        <a href="/events/create" class="singleEvent">Create</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- main -->
    <div id="site-main">
        <div class="main-container">
            <%- body %>
        </div>
    </div>

    <!-- footer -->
    <div class="site-footer">
        <p>Copyright &copy; 2018 Eventure</p>
    </div>
</body>


</html>